@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
.body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}
.b-logo{
    width: 50%;
    height: auto;
}
.navbar{
    padding: 5% 25% 0 25%;
    font-family: 'inter';
}
.navbar-brand:hover{
    opacity: 60%;
}
.nav-item .nav-link{
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-family: 'inter';
}
.nav-item :active{
    color: #8EBED9;
}

.hero{
    padding-left: 25%;
    padding-top: 8%;
    padding-bottom: 2%;
    font-family:"inter";
}
.my-name{
    font-weight: 600;
}
.intro{
    padding-left: 25%;
    padding-right: 25%;
}
.blurb{
    font-weight: 350;
    padding-top: 1%;
}
#wsibIB{
    color:#8EBED9;
    font-weight: 600;
}
#wsibproj1{
    padding-left: 0;
}
#wsibproj2{
    padding-right: 0;
}
.projects{
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
}
.projects img{
    width: 100%;
    height: auto; 
}
.csr{
    margin-top: 5%;
    padding-left: 15%;
    
}
.description{
    margin-top: 5%;
    font-weight: 350;
}
.name-colour{
    background: #8EBED9;
    padding: 9px;
}
.main-content{
    padding: 3% 25% 0 25%;
}
.banner-pic{
    width: 100%;
    height: auto;
    padding-bottom: 8%;
}
.case-title{
    font-family: "inter";
}
.thicc{
    font-weight: 600;
    text-align: left;
}
.thicc-title{
    color: #8EBED9;
}
.case-colour{
    color: #8EBED9;
}
.lcc{
    font-weight: 400;
}
.case-info{
    padding-top: 5%;
}
.case-space{
    padding: 1% 0 1% 0;
    font-size: 18px;
}
.overview, .problem, .goal, .research, .empathize, .poc1, .poc2, .next-steps, .ideation, .wireframes, .mockups{
    padding-top: 10%;
    font-family: "inter";
    
}
.body-text{
    font-size: 18px;
    font-family:"inter";
    padding-top: 1%;
}
.case-header{
    font-weight:600;
}
.case-subheader{
    font-weight: 700;
    font-family: "inter";
    font-size: 18px;
    color: #8EBED9;
}
#claims-process{
    width: 100%;
    height: auto;
}
#triage{
    width: 100%;
    height: auto;
}
.caption{
    font-size: 12px;
    color: #a8a8a8;
}
#csr{
    color: #8EBED9;
    font-weight: 600;
}
.job-title{
    font-weight: 700;
    font-family: "inter";
    font-size: 18px;
    color: #8EBED9;
}
.bullets{
    font-family: "inter";
    font-size: 18px;
}
.persona{
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 30px;
}
.persona-comparison{
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 6%;
}
.journey-maps{
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
#general-process{
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
#invision{
    color: #ff3366;
    font-weight: 600;
}
#me{
    width: 100%;
    height: auto;
    padding-top: 20%;
}
.about-section{
    padding-top: 10%;
}
.hello-eyes{
    font-size: 51px;
    padding-bottom: 5%;
}
.about-text{
    
}
#footer-text{
    text-align: center;
    padding: 5% 25% 0 25%;
}
#footer-name{
    color: #8EBED9;
}
#soon-time{
    font-style: italic;
    font-size: 15px;
}
#csrtemp{
    font-family: "inter";
    font-weight: 500; 
}
#projport{
    font-family: "inter";
    font-weight: 500;
}
.proj1{
    padding-bottom: 20px;
}
.proj1:hover{
    opacity: 60%;
}
.wireframecard1{
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}